*~
.DS_Store
.idea/
.vs
.vscode
.devcontainer
*.qdrep
*.egg-info
*__pycache__*
dist
build
build-*
archive
cmake-build*
cmake.lock
CMakeSettings.json
_CPack_Packages
.temp_dorado_model-*
temp
venv
*.t.err
Makefile
/models
/dorado-dependencies

# Ignore test output directories
tests/test_output*/
tests/test_simple*/
tests/test_nested*/
tests/data/aligner_test/*.fai
regression_test/output/tests/data/aligner_test/*.fai

# If running regression tests, the regression_test_data project is downloaded into
# the dorado folder. We don't want it to be accidentally committed.
regression_test_data

# Orb-local portal metadata.
/.amp/portals/
